@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #a0a0a0;
}
html body{
    font-family: "Roboto", sans-serif;
    
    
}
html{
  scroll-behavior: smooth;
}

::selection{
 background-color: #ffbf00;
 color: #1e1e1e;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: #3e3e3e;
  /* color: #1e1e1e; */
}


::-webkit-scrollbar-thumb{
  background-color: #ffbf00;
}



body{
    background-color: #1e1e1e;
    color: #a0a0a0;
    line-height: 1.6;
    width: 100%;
    height: 100%;
}

.container{
    display: grid;
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    padding-top: 40px;
}

.sidebar{
    height: 100vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 10px;
    padding: 40px;
    position: sticky;
    top: 20px;
    margin-bottom: 20px;
}

.content{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 20px;
    padding: 40px;
}

.profile{
    text-align: center;
}

.profile img{
    margin-top: 0px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 20px;
    color: #e0e0e0;
}


.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    font-size: 0.9rem;
    display: inline-block;
     border: 1px solid #3a3a3a;
     color: #ffbf00;
     border-radius: 10px;
     margin-top: 5px;
}

.contact{
    margin-top: 30px;
    border-top: 2px solid #3e3e3e;
    padding-top: 30px;
}

.label{
    font-weight: 500;
    font-size: 0.9rem;
    color: #a0a0a0;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}


.email,
.phone{
    margin-bottom: 16px;
}

.social{
    margin-top: 10px;
    border-bottom: 2px solid #3e3e3e;
    padding-top: 10px;
    text-align: center;
     color: #e0e0e0;
}

.social i {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    color: #e0e0e0;
}



.cv-container {
  text-align: center;   
  margin-top: 20px;     
}

.cv-btn a{
  padding: 10px;
  border-radius: 10px;
  border: none !important;
  cursor: pointer;
  color: #1e1e1e !important;
  background-color: #ffbf00;
  transition: all .50s ease-in-out;
}
.cv-btn a:hover {
  color: whitesmoke !important;
  background: #1e1e1e;

}
#navigation ul  {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 2px solid #3e3e3e;
    padding-bottom: 30px;
}

#navigation ul li a{
    text-decoration: none;
    color: #e0e0e0;
    transition: all .50s ease-in-out;
}

#navigation ul li a:hover{
    color: #ffbf00;
}

ul li a:hover,
ul li a:active{
    width: 100%;
    color: #ffbf00;
}


.line{
    height: 6px;
    width: 70px;
   background-color: #ffbf00;
    /* padding-top: 10px; */
    margin-top: 5px;
    margin-bottom: 20px;
}


.about{
    margin-top: 20px;
}

.heading{
    color: #e0e0e0;
    font-weight: 800;
    font-size: 2.2rem;
}

.para-contents{
    color: #a0a0a0;
    font-weight: 500;
    text-align: justify;
}

.services{
  /* max-width: 1300px;
  margin-top: 30px;
  margin-bottom: 30px; */
  max-width: 1200px;
  margin: auto;
  padding: 80px 5%;
  /* background: #1f1f1f;  */
  color: #f8fafc;
}

.service-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 70px;
  padding-left: 70px;
  background: #1f1f1f;
  border-radius: 15px;
}

.services-img img{
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  display: block;
  margin: auto;
  overflow: hidden;
}

.services-info h2{
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.services-info h2{
  color: aqua;
}

.services-info h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.services-info p {
  font-size: 1rem;
  line-height: 1.6;
  color: #cbd5e1;
  margin-bottom: 25px;
  text-align: justify;
}

.services-btn {
  padding: 12px 24px;
  background: #f97316; 
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  letter-spacing: 1px;
}

.services-btn:hover {
  background: #ea580c;
}

.skill{
    margin-top: 20px;
    max-width: 1200px;
}




.card {
    margin-top: 30px;
  width: 150px; 
  padding: 15px;
  border-radius: 12px;
  background:#302f2f;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.card img{
  width: 50px;
  background-color: #ffbf00;
}
.card i {
  font-size: 35px; 
  color: #ffbf00;  
  margin-bottom: 10px;
}

.card h2 {
  font-size: 20px;
  margin: 0;
  color: #cbd5e1;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}

.education{
  margin-top: 30px;
}
.education .heading{
  margin-top: 30px;
}

.edtech{
  position: relative;
  margin-top: 25px;
}

.year{
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 5px;
}

.degree{
  font-size: 1.1rem;
  font-weight: 600;
  color: #e0e0e0;
  margin-bottom: 5px;
}


.college{
  font-size: 0.9rem;
  color: #a0a0a0;
  font-style: italic;
  margin-bottom: 10px;
}

.work{
  font-size: 0.8rem;
  color: #a0a0a0;
}

.edfirst,
.edsecond{
  margin-bottom: 35px;
  padding-left: 26px;
  position: relative;
}

.goal{
  height: 15px;
  width: 15px;
  border: 3px solid #ffbf00;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 5;
}

.liner{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6px;
  width: 4px;
  border: 2px solid #3a3a3a;
  
}


.portfolio {
  margin: 0 auto;
  padding: 40px 5%;
}

.projects {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  justify-items: center;
}

.card1 {
  width: 100%;
  max-width: 480px;
  background: #202020;
  border: 2px solid #3e3e3e;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card1:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 10px #1e1e1e;
  background: rgb(20, 20, 20);
}

.card-img {
  width: 100%;
  overflow: hidden;
   display: inline-block;
}

.card-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0;
  transition: transform .50s ease;
}

.card-img img:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.card-text {
  text-align: center;
  padding: 15px 10px;
  color: #cbd5e1;
}

.card-text h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card-text p {
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 10px;
}

span {
  display: inline-block;
  margin-top: 6px;
  padding: 4px 8px;
  font-size: 0.8rem;
  border: 1px solid #ea580c;
  border-radius: 10px;
  background: #6b2601;
}

/* Button */
.btn {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  background: #000;
  color: #a0a0a0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn a {
  text-decoration: none;
  color: inherit;
}

.btn:hover {
  background-color: transparent;
  color: #cbd5e1;
  border: 1px solid #a0a0a0;
}


.contact-section{
  margin-top: 35px;
}

.contact-section h2{
  text-align: center;
  color: #a0a0a0;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 600;
}

.contact-section p{
  text-align: center;
  color: #a0a0a0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}


.contact-form{
  text-align: center;
  margin-top: 20px;
  max-width: 700px;
}

.form-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}


.contact-form input,
.contact-form textarea {
  width: 100%;
  /* max-width: 1500px;
  max-height: 500px; */
  padding: 14px 16px;
  border: 1px solid #3e3e3e;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: #a0a0a0;
  font-size: 15px;
}

.contact-form textarea {
  min-width: 300px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #999;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #a0a0a0;
  outline: none;
  background-color: #222;
}


.submit-btn{
  padding: 10px;
  border: none;
  margin-top: 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  color: #a0a0a0;
  background-color: #6b2601;
  transition: all .8s ease;
}

.submit-btn:hover{
  background-color: #3e3e3e  ;
}

.end {
    position: relative;
    bottom: 0;
    margin-top: 25px;
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background: #3e3e3e;

}

.last-text p {
    color: #a0a0a0;
    font-size: 15px;
}

.top i {
    padding: 12px;
    border-radius: 10px;
    font-size: 20px;
    color: #a0a0a0;
    background: #1e1e1e;
}

#menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 1001;
}




@media screen and (max-width:1200px){
  .container{
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .sidebar{
    position: static;
    height: auto;
  }

  .content{
    height: auto;
  }
}


@media (max-width: 992px) {
  #menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 1001;
    font-size: 2rem;
    cursor: pointer;
    color: #ffbf00;
    border: 1px solid #3e3e3e;
    margin-top: 5px;
    border-radius: 10px;
  }

  .navlist {
    position: absolute;
    top: 60px;
    right: 20px;
    background: #202020;
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    width: 180px;
    text-align: center;
    z-index: 999;
  }

  .navlist.open {
    transform: scaleY(1);
  }

  .navlist li a {
    color: #ffbf00;
    font-size: 1rem;
  }
    ::selection{
 background-color: #ffbf00;
 color: #1e1e1e;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: #3e3e3e;
  /* color: #1e1e1e; */
}


::-webkit-scrollbar-thumb{
  background-color: #ffbf00;
}

}


@media screen and (max-width:750px){
 
  .projects {
    grid-template-columns: 1fr;
  }

  .card1 {
    max-width: 100%;
  }

  .card-text h3 {
    font-size: 1.1rem;
  }

  .card-text p {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .card-text {
    padding: 10px;
  }

  .card-text h3 {
    font-size: 1rem;
  }

  .card-text p {
    font-size: 0.8rem;
  }

  .btn {
    padding: 6px 12px;
    font-size: 0.85rem;
  }

  span {
    font-size: 0.7rem;
  }

  #navigation ul{
    justify-content: space-between;
    flex-wrap: wrap;
  }

  

  .sidebar {
    /* display: flex; */
    /* flex-direction: column;  */
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    gap: 40px;
    height: auto;
    width: auto;
    padding: 40px;
  }

  .sidebar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .sidebar h2,
  .sidebar p {
    margin: 5px 0;
  }

  .cv-btn {
    margin-top: 10px;
    width: 150px;
    text-align: center;
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }

  .contact {
    text-align: center;
    
  }
  .form-grid{
    grid-template-columns: 1fr;
  }

}





